.banner {
    position: relative;
    height: 100vh;
}

.banner::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    content: '';
    z-index: 1;
}

.banner > div {
    z-index: 100;
    position: relative;
}

.banner > a {
    z-index: 100;
}
